<%= render "shared/login_form" unless current_member || current_admin || current_operator%>

<h2>メニュー</h2>
<%= 
  if controller.kind_of?(Admin::Base)
    render "shared/admin_menu"
  elsif controller.kind_of?(Operator::Base)
    render "shared/operator_menu"
  else
    render "shared/menu"
  end
%>